body {
  font-family: sans-serif;
  padding: 1rem;
}

.hand,
.discards,
.discard-pile {
  list-style: none;
  padding: 0;
}

.discards {
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: auto;
}

.discard-pile {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 0.25rem;
  justify-content: center;
  overflow-y: auto;
}

.discard-pile.left,
.discard-pile.right {
  grid-template-columns: none;
  grid-template-rows: repeat(6, auto);
  grid-auto-flow: column;
}

.discard-pile.top img {
  transform: rotate(180deg);
}

.discard-pile.left img {
  transform: rotate(90deg);
}

.discard-pile.right img {
  transform: rotate(-90deg);
}

.hand li,
.discards li,
.discard-pile li {
  margin-bottom: 0.25rem;
}

button {
  margin-left: 0.5rem;
}

.board {
  display: grid;
  grid-template-areas:
    '. top .'
    'left center right'
    '. bottom .';
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  margin-top: 1rem;
}

.player-area {
  padding: 0.5rem;
  border: 0.0625rem solid #ccc;
}

.player-area.top {
  grid-area: top;
  min-height: 6rem;
  text-align: center;
}
.player-area.bottom {
  grid-area: bottom;
  min-height: 6rem;
  text-align: center;
}
.player-area.left {
  grid-area: left;
  min-height: 6rem;
}
.player-area.right {
  grid-area: right;
  min-height: 6rem;
}
.center {
  grid-area: center;
  text-align: center;
}

.meld-discard {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.melds {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.25rem;
  overflow-y: auto;
}

@media (max-width: 37.5rem) {
  .board {
    grid-template-areas:
      'top'
      'left'
      'right'
      'center'
      'bottom';
    grid-template-columns: 1fr;
  }
}
